@use '../utils' as *;

.events {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include on-tablet {
    flex-direction: row;
    gap: 30px;
  }

  &__content {
    margin-bottom: 30px;
  }
}
