@use '../utils' as *;

.lang {
  cursor: pointer;
  position: relative;
  color: $c-white;

  &__toggle {
    display: flex;
    gap: 5px;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__list {
    position: absolute;
  }

  &__link {
    color: $c-white;
    text-decoration: none;
  }
}
