@use '../utils' as *;

.logo {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: $c-white;
  text-decoration: none;

  &--active {
    transition: color 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      .logo--active {
        color: $c-main;
      }
    }
  }
}
