@use '../utils' as *;

.section-header {
  @include on-tablet {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: none;

    @include on-tablet {
      display: flex;
      min-width: 210px;
    }
  }
}
