@use '../utils' as *;

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @include on-tablet {
    height: 77px;
  }

  @include on-desktop {
    height: 90px;
  }

  &__actions {
    display: flex;
    gap: 30px;

    @include on-tablet {
      gap: 40px;
    }
  }
}
