@use 'vars' as *;
@use 'mixins' as *;

%list-reset-column {
  display: flex;
  flex-direction: column;
}

%container-max-width {
  max-width: 1280px;
  margin-inline: auto;

  @include content-padding-inline;
}
