$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$c-main: #cd4d31;
$c-white: #f1f5f4;
$c-bg: #3f5252;
$c-black: #1c1b29;
$c-gray: #504f5e;
$c-hover: #af3419;
$c-active: #ea340d;
$f-display: 'Playfair Display', serif;
$f-text: 'Raleway', sans-serif;
$section-header-gap: 60px;
$section-header-gap-tablet: 75px;
$section-header-gap-desktop: 70px;
